.leadership_section {
    width: 100%;
    padding: 140px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leadership_container {
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.Leadership_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 60px;
    text-align: center;
}

.Leadership_title p {
    color: #8C8C8C;
    font-size: 26px;
    font-weight: 300;
    line-height: 33.8px;
}

.Leadership_members {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

@media (max-width: 768px) {
    .leadership_section {
        padding: 75px 16px;
    }

    .Leadership_title {
        gap: 40px;
        padding-bottom: 75px;
    }

    .Leadership_title p {
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
    }

    .Leadership_members {
        flex-direction: column;
        gap: 60px;
    }
}