* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  color: #222222;
}

a {text-decoration: none;}
li {list-style: none;}
h1 {font-size: 70px; font-weight: 600; line-height: 71.4px;}
h2 {font-size: 50px; font-weight: 600; line-height: 51px;}
h3 {font-size: 26px; font-weight: 300; line-height: 33.8px;}

.link {
  font-size: 18px;
  font-weight: 300;
  line-height: 23.4px;
}

.bodyMedium {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

details > summary {
  list-style: none;
}

.padding {
  padding: 140px 0;
}

.max-width {
  width: 100%;
  max-width: 1000px;
}

.semibold {
  font-size: 24px;
  font-weight: 600;
  line-height: 24.48px;
}

@media (max-width: 768px)  {
  h1 {font-size: 32px; font-weight: 600; line-height: 32.64px;}
  h2 {font-size: 32px; font-weight: 600; line-height: 32.64px;}
  h3 {font-size: 20px; font-weight: 300; line-height: 26px;}

  .padding {
    padding: 75px 20px;
  }
  
  .max-width {
    width: 100%;
    max-width: 1000px;
  }
}