.main_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    border-top: 1px solid #DFDFDF;
}

.main_footer_container {
    width: 100%;
    max-width: 1440px;
    padding: 80px 50px 120px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main_footer_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.main_footer_links > li > a:hover {
    transition: all ease .2s;
}

.main_footer_links > li > a:hover {
    text-decoration: underline;
}

.main_footer_media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 768px) {
    .main_footer_container {
        max-width: 100%;
        padding: 40px 20px 75px 20px;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .main_footer_links {
        flex-direction: column;
    }
}