.main_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background: #FFF;
    z-index: 999;
    border-bottom: 1px solid #DFDFDF;
}

.main_header_container {
    width: 100%;
    max-width: 1440px;
    padding: 24px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_header_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.main_header_navigation > a {
    color: #8C8C8C;
    transition: all ease .2s;
}

.main_header_navigation > a:hover {
    color: #222222;
}

.main_header_button {
    border: 1px solid #DFDFDF;
    border-radius: 100px;
    padding: 14px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FFF;
    cursor: pointer;
    transition: all ease .2s;
}

.main_header_button:hover {
    border-color: #222222;
}

.hamburger_icon {
    display: none;
}

.brand_logo {
    width: 128px;
    height: 50px;
}

.wa_icon {
    width: 24px;
}

@media (max-width: 768px) {
    .main_header_container {
        max-width: 100%;
        padding: 20px;
    }

    .main_header_navigation {
        display: none;
    }

    .main_header_button {
        display: none;
    }

    .brand_logo {
        width: 89px;
        height: 35px;
    }

    .hamburger_icon {
        display: block;
        border: none;
        background: transparent;
    }

    .mobile_menu {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #FFF;
        z-index: 9999;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    .mm_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid #DFDFDF;
    }

    .close_icon {
        background: transparent;
        border: none;
    }

    .main_header_navigation_mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        padding: 30px 20px;
    }

    .divider {
        border-bottom: 1px solid #DFDFDF;
        width: 100%;
    }

    .wa_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 34px;
    }

    .wa_btn {
        background: #222;
        border-radius: 100px;
        padding: 14px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }

    .wa_btn span {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}